<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="true"/>
  <include file="$(find husky_description)/launch/description.launch" >
    <arg name="laser_enabled" value="true"/>
  </include>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find husky_control)/config/localization.yaml" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node type="rviz" name="rviz" pkg="rviz" />
</launch>
